*{
    margin: 0px;
    padding: 0px;
    font: normal 12px '돋움';
}

ul, ol{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

input, textarea{
    outline: none;
}


header{
    width: 100%;
    height: auto;
    border: 1px solid blue;
    box-sizing: border-box;
}

header > div:nth-child(1) {
    height: 36px;
}
header > div:nth-child(2) {
    height: 100px;
}
header > div:nth-child(3) {
    height: 54px;
}

header > div > * {
    width: 1100px;
    height: 100%;
    border: 1px solid orange;
    box-sizing: border-box;
    margin: 0 auto;
}

header .top > p {
    float: right;
    margin-top: 10px;
}

